*.log
*.idv
*.lg
*.tmp
*.toc
*.dvi
*.out
*.xref
*.toc
*.4??
*.nc*
*/*.aux
**/*.aux
**/*.css
**/*.opf
**/*.gnuplot
**/*.fdb_latexmk
**/*.fls
main-epub
_minted
**/*.listing
llm-book.listing
*.ind
*.idx
*.blg
*.bbl
*.bcf
*.run.xml
*.log
*.gz
*.ilg
llm-book-blx.bib
_D7E8B5A224BCBFB321B9C95F59C91919.data.minted
